
* {
  box-sizing: border-box;
}

body {
  background-color: rgb(25, 25, 25);
  color: white;
  background-attachment: fixed;
}

.App--header {
  background-image: url('../assets/images/zangarmarsh1.png');
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
  width: auto;
  height: 160px;
  margin: 0;
  border-bottom: solid #FFEC1C 10px;
  font-family: 'Almendra', serif;
}

.App--titleImage {
  margin: 3.0rem 10vw 0.5rem 0;
  height: 85px;
  width: auto;
}

.App--slotSections {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 0 0 5.0rem 2.0rem;
}

.App--slotSections__title {
  align-self: center;
  font-family: 'Almendra', serif;
}

.App--footer__container {
  height: 120px;
  width: auto;
  background-color: rgb(60, 60, 60);
  border-top: solid rgb(47, 47, 242) 10px;
  color: black;
  padding: 0.5rem 1.0rem;
}

.App--footer__button {
  background-color: #ffec1c;
  border: none;
  border-bottom: solid rgb(47, 47, 242) 4px;
  height: 2.5rem;
  width: 10vw;
  font-size: 1.2rem;
  color: black;
}

.App--footer__button:hover {
  background-color: rgb(47, 47, 242);
  color: white;
}