.slot--li {
  display: flex;
  flex-direction: row;
  background-color: rgb(50, 50, 50);
  width: fit-content;
  margin: 0 0 1.0rem 0;
  padding: 0;
}

.slot--title {
  width: 6.0rem;
  margin: 1.0rem 0 0 1.0rem;
  padding: 0;
}