.slot--li {
  display: flex;
  flex-direction: row;
  background-color: rgb(50, 50, 50);
  width: fit-content;
  margin: 0 0 1.0rem 0;
  padding: 0;
}

.slot--title {
  width: 6.0rem;
  margin: 1.0rem 0 0 1.0rem;
  padding: 0;
}

.itemList--ul {
  display: flex;
  flex-direction: row;
  list-style: none;
  align-items: flex-start;
  margin: 0;
  padding: 0;
}

.itemList--li {
  max-height: 60vh;
}

.itemContainer {
  padding: 0.5rem;
  margin: 0.5rem;
  max-height: 57vh;
  overflow-y: auto;
}

.itemContainerRare {
  border: blue solid 3px;
}

.itemContainerEpic {
  border: purple solid 3px;
}

.itemContainerLegendary {
  border: orange solid 3px;
}

.itemContainerArtifact {
  border: yellow solid 3px;
}

.itemContainerLarge {
  width: 250px;
}

.itemContainerSmall {
  width: 150px;
}

.itemContainer h4, p {
  margin: 0 0 0.3rem 0;
}