.slot--li {
  display: flex;
  flex-direction: row;
  background-color: rgb(60, 60, 60);
  width: fit-content;
  margin: 0 0 1.0rem 0;
  padding: 0;
}

.slot--title {
  width: 6.0rem;
  margin: 1.0rem 0 0 1.0rem;
  padding: 0;
  font-family: 'Almendra', serif;
}

.itemList--ul {
  display: flex;
  flex-direction: row;
  list-style: none;
  align-items: flex-start;
  margin: 0;
  padding: 0;
}

.itemList--li {
  max-height: 60vh;
}

.itemContainer {
  padding: 0.5rem;
  margin: 0.5rem;
  max-height: 57vh;
  overflow-y: auto;
}

.itemContainerRare {
  border-bottom: blue solid 3px;
  border-right: blue solid 3px;
  box-shadow: 6px 6px 8px 2px rgb(0, 0, 0);
}

.itemContainerEpic {
  border-bottom: purple solid 3px;
  border-right: purple solid 3px;
  box-shadow: 6px 6px 8px 2px rgb(0, 0, 0);
}

.itemContainerLegendary {
  border-bottom: orange solid 3px;
  border-right: orange solid 3px;
  box-shadow: 6px 6px 8px 2px rgb(0, 0, 0);
}

.itemContainerArtifact {
  border-bottom: yellow solid 3px;
  border-right: yellow solid 3px;
  box-shadow: 6px 6px 8px 2px rgb(0, 0, 0);
}

.itemContainerLarge {
  width: 250px;
}

.itemContainerSmall {
  width: 45px;
  overflow: hidden;
  height: 47px;
}

.itemContainer h4, p {
  margin: 0 0 0.3rem 0;
}

.itemContainer--buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.mainArmor--section__button {
  margin-right: 1.0rem;
  background-color: #FFEC1C;
  border: none;
  border-bottom: solid 4px rgb(47, 47, 242);
  height: 2.5rem;
  width: 10vw;
  font-size: 1.2rem;
}
.mainArmor--section__button:hover {
  background-color: rgb(47, 47, 242);
  color: white;
}

.itemContainerHidden {
  visibility: hidden;
}